@font-face {
  font-family: "GothamPro-Bold";
  src: url("../fonts/GothamPro-Bold/GothamPro-Bold.ttf");
  src: url("../fonts/GothamPro-Bold/GothamPro-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/GothamPro-Bold/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/GothamPro-Bold/GothamPro-Bold.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf");
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.ttf");
  src: url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

html{font-size: 100%}
ul, li{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	cursor: pointer;
	color: #fff;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
body{
	font-size: 1rem;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: 'OpenSans-Regular', sans-serif;
	overflow-x: hidden;
	color: #000;
	font-weight: normal;
	background-color: #f5f5f5;
}
	
img{
	display: block;
	max-width: 100%;
	height: auto;
	width: 100%;
	object-fit: cover;
	user-select: none;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'GothamPro-Bold', sans-serif;
}
	
.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.menu-dubl-count{
	position: fixed;
	right: 1vw;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
}
.menu-dubl-count a{
	color: #ff9301;
	position: relative;
	padding-right: 35px;
}
.menu-dubl-count a:hover{
	text-decoration: none;
}
.menu-dubl-count a span{
	opacity: 0;
}
.menu-dubl-count a:after{
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #ff9301;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.menu-dubl-count li.active a:after,
.menu-dubl-count li:hover a:after{
	width: 25px;
	height: 3px;
	border-radius: 0;
}
.menu-dubl-count li.active a span,
.menu-dubl-count li:hover a span{
	opacity: 1;
}
.mobile-btn{
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: none;
}
.mobile-btn span{
	width: 25px;
	height: 2px;
	background-color: #fff;
	display: block;
	margin: 3px auto;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	opacity: 1;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.mobile-btn.active span:first-child {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	position: relative;
	top: 5px;
}
.mobile-btn.active span:nth-child(2) {
	opacity: 0;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.mobile-btn.active span:last-child {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	position: relative;
	top: -5px;
}


/*HEADER*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 0;
	background: transparent;
	z-index: 100;
}	
.header .container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.menu ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.menu ul li{
	position: relative;
}
.menu ul li:after{
	content: '';
	display: block;
	position: absolute;
	width: 0px;
	height: 2px;
	background-color: #ff9301;
	left: 0;
	bottom: -5px;
	-webkit-transition: width .2s ease-in-out;
	-o-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
}
.menu ul li.active:after,
.menu ul li:hover:after{
	width: 45px;
}
.menu ul li:not(:last-child){
	margin-right: 80px;
}
.menu ul li a{
	color: #fff;
}
.menu ul li a:hover{
	color: #fff;
	text-decoration: none;
}
.phone{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.phone img{
	width: 25px;
	height: auto;
	margin-right: 15px;
}
.phone a{
	color: #a9a9a9;
	font-size: 20px;
}
.phone a b{
	color: #fff;
	font-family: "OpenSans-SemiBold", sans-serif;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.phone a:hover,
.phone a:hover b{
	color: #ff9301;
	text-decoration: none;
}

/*INTRO*/
.intro{
	min-height: 900px;
	height: 100vh;
	width: 100%;
	position: relative;
	background-image: url(../img/intro-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 20px;
	text-align: left;
}
.intro .container{
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.intro h1{
	font-size: 38px;
	text-transform: uppercase;
	line-height: 1.4;
	max-width: 650px;
	width: 100%;
	padding-bottom: 40px;
	position: relative;
	margin-bottom: 35px;
}
.intro h1:after{
	content: '';
	display: block;
	position: absolute;
	width: 110px;
	height: 3px;
	left: 0;
	bottom: 0;
	background-color: #ff9301;
}
.intro__descr{
	max-width: 600px;
	width: 100%;
	display: block;
}
.intro-form{
	max-width: 420px;
	width: 100%;
	position: relative;
	z-index: 1;
}
.intro-form:after{
	content: '';
	display: block;
	position: absolute;
	width: 65%;
	height: 110%;
	background-color: #555;
	position: absolute;
	top: -5%;
	right: -5%;
	z-index: -1;
}
.intro-form form{
	width: 100%;
	padding: 30px 40px;
	background-color: #f2f2f2;
	color: #000;
	font-size: 16px;
	font-weight: normal;
}
.intro-form form label{
	display: block;
	margin-bottom: 3px;
	padding-left: 20px;
}
.intro-form form .form-group{
	margin-bottom: 15px;
}
.intro-form form input,
.intro-form form textarea{
	width: 100%;
	border: 1px solid #ff9301;
	padding: 10px 20px;
}
.intro-form form textarea{
	min-height: 90px;
}
.intro-form form input:focus,
.intro-form form textarea:focus{
	-webkit-box-shadow: 0 8px 35px  25px rgba(255, 147,1, .28);
	box-shadow: 0 8px 35px  25px rgba(255, 147,1, .28);
}
.intro-form form input::placeholder,
.intro-form form textarea::placeholder{
	color: #cacaca;
}
.btn{
	background-color: #ff9301;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	padding: 15px 0;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 16px 35px rgba(255, 147,1, .28);
	box-shadow: 0 16px 35px rgba(255, 147,1, .28);
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.lg-btn{
	padding: 15px 50px;
	display: inline-block;
}
.lg-btn:hover{
	color: #fff;
	text-decoration: none;
}
.checkbox{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 20px;
}
input:disabled{
	cursor: not-allowed !important;
}
.intro-form form .checkbox input{
	width: auto;
	display: none;
}
.intro-form form .checkbox label{
	position: relative;
	cursor: pointer;
	margin-right: 10px;
}
.intro-form form .checkbox label:after{
	content: '';
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	border: 1px solid #ff9301;
	left: 0;
	top: 5px;
}
.intro-form form .checkbox input:checked+label:after{
	background-image: url(../img/icons/tick.svg);
	-webkit-background-size: 12px;
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: center;
}
.intro-form form .checkbox .policy,
.intro-form form .checkbox .policy a{
	color: #000;
}
.intro-form form .checkbox .policy a{
	text-decoration: underline;
}
.intro-form form .checkbox .policy a:hover{
	text-decoration: none;
}
.btn:hover{
	-webkit-box-shadow: none;
	box-shadow: none;
}
section{
	padding: 100px 0 110px;
	text-align: center;
	position: relative;
	z-index: 1;
}
section h2{
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	display: inline-block;
	margin-bottom: 8%;
	line-height: 1.2;
}
section h2:before,
section h2:after{
	content: '';
	display: block;
	position: absolute;
	width: 60px;
	height: 2px;
	background-color: #ff9301;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
section h2:before{
	left: -90px;
}
section h2:after{
	right: -90px;
}
.title__dubl{
	position: absolute;
	font-size: 113px;
	color: #eee;
	text-transform: uppercase;
	font-family: 'GothamPro-Bold', sans-serif;
	top: 125px;
	left: 50%;
	line-height: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: -1;
}
/*SERVICES*/
.services{
	padding-bottom: 40px;
}
.services__block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.services__item{
	width: 48%;
	/*height: 400px;*/
	margin-bottom: 70px;
	color: #fff;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 0 0 68px rgba(0,0,0,.13);
	box-shadow: 0 0 68px rgba(0,0,0,.13);
	-webkit-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .15s ease;
}
.services__item:hover{
	color: #fff;
	text-decoration: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.services__item img{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.services__item-title{
	font-size: 22px;
	background-color: #ff9301;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 70%;
	line-height: 1.4;
	height: 80px;
	position: absolute;
	bottom: -40px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

/*advantage*/
.advantages{
	background-image: url(../img/advantes-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 490px;
	margin-bottom: 50px;
}
.advantages h2{
	color: #fff;
}
.advantages h2 br{
	display: none;
}
.advantages .title__dubl{
	opacity: .2;
}
.advantages .container{padding: 0;}
.advantages__block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1170px;
	width: 100%;
}
.advantages__item{
	width: 30%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 25px;
	background-color: #fff;
	margin: 15px;
	border: 10px solid #ededed;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-box-shadow: 0px 16px 62px 25px rgba( 0, 0, 0, .1 );
	box-shadow: 0px 16px 62px 25px rgba( 0, 0, 0, .1 );
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.advantages__item:hover{
	-webkit-transform: scale(1.02);
	-ms-transform: scale(1.02);
	-o-transform: scale(1.02);
	transform: scale(1.02);
}
.advantages__item img{
	width: 60px;
	height: 100%;
	margin-right: 30px;
}
.advantages__item-title{
	font-family: "OpenSans-SemiBold", sans-serif;
	font-size: 18px;
	text-align: left;
	line-height: 1.4;
}
/*OPU*/
.opu{padding-bottom: 0;}
.opu h2 br{display: none;}
.opu .title__dubl{
	font-size: 12vw;
}
.opu__item{
	max-width: 880px;
	width: 100%;
	text-align: left;
	margin-bottom: 25px;
}
.opu__item--right{
	margin-left: auto;
}
.opu__item--right .opu__item-title{
	justify-content: flex-end;
}
.opu__item--right .opu__item--text{
	margin-right: 15px;
}
.opu__item-title{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.opu__item--num{
	width: 50px;
	height: 50px;
	background-color: #ff9301;
	color: #fff;
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	line-height: 50px;
}
.opu__item--text{
	font-size: 18px;
	line-height: 1.2;
	font-family: "OpenSans-SemiBold", sans-serif;
	margin-left: 15px;
}
.opu__item-text{
	background-color: #fff;
	border: 10px solid #ececec;
	padding: 30px 40px 15px;
	-webkit-transition: all .15s;
	-o-transition: all .15s;
	transition: all .15s;
}
.opu__item-text ul{
	margin-bottom: 1rem;
}
.opu__item:hover .opu__item-text{
	border-color: #ff9301;
}
.opu__block--row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.opu__block--col{width: 48%;}
.opu__item--photo{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.opu__item--photo img{width: 30%;}
.opu .lg-btn{margin-top: 40px; padding: 15px 70px;}
.opu .text{
	text-align: left;
}
.opu .text ul li{
	margin-top: 15px;
	padding-left: 20px;
	position: relative;
}
.opu .text ul li:before,
.about__text ul li:before{
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #ff9301;
	position: absolute;
	left: 0;
	top: 10px;
}

/*PORtFOLIO*/
.portfolio__wrap{
	background-image: url(../img/slider-bg.png);
	min-height: 700px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	position: relative;
}
.portfolio__slider{
	max-width: 900px;
	width: 100%;
	height: auto;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slick-prev,
.slick-next{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
	padding: 0;
	margin: 0;
	padding: 15px 10px;
	padding-top: 16px;
	border: none;
	background-color: rgba(0,0,0,.4);
	cursor: pointer;
}
.slick-prev{
	left: 0;
}
.slick-next{
	right: 0;
}
.slick-prev svg,
.slick-next svg{
	width: 15px;
	height: 100%;
	fill: #fff;
}
.slick-next svg{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.slick-prev:hover svg,
.slick-next:hover svg{
	fill: #ff9301;
}




/*ABOUT*/
.about{
	background-image: url(../img/about-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: left bottom;
	color: #fff;
	max-height: 425px;
	position: relative;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	padding: 100px 0 70px;
	width: 100%;
    height: 100%;
    /*padding-right: 17px;*/
    box-sizing: content-box; 
}
/*.about .container{text-align: left;}*/
.about h2{
	color: #fff;
}
.about .title__dubl{
	opacity: .2;
}
.about__text{
	text-align: left;
}
.about img{
	border: 10px solid #fff;
}
.posa{
	position: absolute;
	max-width: 510px;
	width: 100%;
	height: auto;
	left: 58%;
	top: 375px;
	-webkit-box-shadow: 0px 16px 62px 25px rgba( 0, 0, 0, .1 );
	box-shadow: 0px 16px 62px 25px rgba( 0, 0, 0, .1 );
}

.about__text ul li{
	position: relative;
	padding-left: 20px;
}
.df{
	margin-top: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
}
.img-block{
	width: 40%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}
.img-block img{
	width: 48%;
	height: 48%;
	margin-bottom: 4%;
	object-fit: cover;
	object-position: top center;
}
.df .text-block{
	width: 58%;
}
.about__text--hidden{display: none;}
.read{
	text-align: left;
	margin-top: 30px;
}
.read-btn{
	text-align: left;
	padding-top: 40px;
	position: relative;
	color: #ff9301;
	font-size: 18px;
	cursor: pointer;
}
.read-btn:after{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: #ff9301;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
}
.read-btn:hover:after{
	opacity: 0;
}

.contacts{}
.contacts__block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.contacts__info{
	max-width: 590px;
	width: 100%;
	background-color: #fff;
	border: 10px solid #f1f1f1;
	text-align: left;
	padding: 50px;
	border-right: none;
	-webkit-box-shadow: 0px 16px 62px 25px rgba( 0, 0, 0, .1);
	box-shadow: 0px 16px 62px 25px rgba( 0, 0, 0, .1);
	position: relative;
}
.contacts__info .title__dubl{
	top: -40px;
	color: #fbfbfb;
	left: 43%;
}
.contacts__info h2{
	padding-bottom: 15px;
	margin-bottom: 20px;
	line-height: 1;
}
.contacts__info h2:after{
	display: none;
}
.contacts__info h2:before{
	left: 0;
	bottom: 0;
	top: auto;
}
.contacts__block{
	margin-top: 100px;
}
.contacts__block .intro-form:after{
	display: none;
}
.contacts__block .intro-form form{
	text-align: left;
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,.15);
	box-shadow: 0 0 40px rgba(0,0,0,.15);
}
.contacts__info--link{
	font-size: 20px;
	font-family: "OpenSans-SemiBold", sans-serif;
}
.contacts__info--link a{
	color: #ff9301;
	text-decoration: underline;
}
.contacts__info--link a:hover{
	text-decoration: none;
}
.footer{
	background-color: #474747;
	color: rgba(255,255,255,.4);
	padding: 30px 0;
}
.footer a{
	color: rgba(255,255,255,.4);
}
.footer-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

