@media screen and (max-width: 992px){
	.menu ul li:not(:last-child){
		margin-right: 40px;
	}
}
@media screen and (max-width: 768px){
	.header{padding: 0;}
	.menu{display: none;}
	.mobile-btn{display: block;}
}